//================================================================================================//
//
//  FONT DISPLAY TOOLS
//
//================================================================================================//

// MIXINS

@mixin font-primary-light {
  font-family: $font-family-primary;
  font-weight: $font-weight-light;
}

@mixin font-primary-regular {
  font-family: $font-family-primary;
  font-weight: $font-weight-regular;
}

@mixin font-primary-heavy {
  font-family: $font-family-primary;
  font-weight: $font-weight-heavy;
}

@mixin font-secondary-light {
  font-family: $font-family-secondary;
  font-weight: $font-weight-light;
}

@mixin font-secondary-regular {
  font-family: $font-family-secondary;
  font-weight: $font-weight-regular;
}

@mixin font-secondary-heavy {
  font-family: $font-family-secondary;
  font-weight: $font-weight-heavy;
}

@mixin font-not-async-light {
  font-family: $font-family-base;
  font-weight: $font-weight-light;
}
