//================================================================================================//
//
//  FONT DISPLAY TOOLS
//
//================================================================================================//

// MIXINS

@mixin font-primary-light {
  font-family: $font-family-primary;
  font-weight: 300;
}

@mixin font-primary-regular {
  font-family: $font-family-primary;
  font-weight: 400;
}

@mixin font-primary-heavy {
  font-family: $font-family-primary;
  font-weight: 600;
}

@mixin font-secondary-light {
  font-family: $font-family-secondary;
  font-weight: 300;
  font-variant: small-caps;
}

@mixin font-secondary-regular {
  font-family: $font-family-secondary;
  font-weight: 400;
  font-variant: small-caps;
}

@mixin font-secondary-heavy {
  font-family: $font-family-secondary;
  font-weight: 600;
  font-variant: small-caps;
}

@mixin font-not-async-light {
  font-family: $font-family-base;
  font-weight: 300;
}
