//============================================================================//
//
//  GLOBAL GENERIC ANGULAR SCROLLBAR
//
//============================================================================//

// VARS
$scrollbar-thumb: #494949 !default;
$scrollbar-track: #d0d0d0 !default;

// ELEMENTS

body {
  background-color: $global-page-background;
  overflow: hidden;

  ::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background-color: $scrollbar-track;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $scrollbar-thumb;
  }
}
