
//============================================================================//
//
//  GLOBAL GENERIC AUTOFILL
//
//============================================================================//

// VARS

$input-autofill-background: color(app-white, null, 0) !default;

// ELEMENTS

// stylelint-disable declaration-no-important
input:-webkit-autofill {
  background-color: transparent !important;
  -webkit-box-shadow: inset 0 5px 10px -5px color(app-black, null, .1) !important;
  z-index: 3;
}
// stylelint-denable declaration-no-important
