$workspace-panel-background: $color-inspector-bg !default;
$panel-header-back: #bdbdbd !default;
$panel-header-border: #ddd !default;
$panel-header-border-clear: color(app-grey-yellow, 5, 0) !default;

.o-panel {
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  right: 0;
  @include animate(transform, $animation-time-short);

  &.is-hidden {
    transform: translateY(100%);
  }
}

.o-panel__head {
  @include animate(border-color, $animation-time-short);
  background-color: $panel-header-back;
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: 0;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-100%);
  width: 100%;

  &.has-actions {
    border-color: $panel-header-border;
  }
}

.o-panel__title {
  @include font-size-sm();
  padding: 7px 15px;
  font-weight: $font-weight-heavy;
  line-height: 1;
  margin: 0;
}

.o-panel__content {
  background-color: $workspace-panel-background;
  flex: 1;
  position: relative;
}

.o-panel__close {
  padding: 13px;
}
