//================================================================================================//
//
//  LIST STRUCTURE
//
//================================================================================================//

// VARS

// ELEMENTS

.o-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.o-list__item {
  margin: 0;
  padding: 0;
}
