//================================================================================================//
//
//  ACCESSIBILITY UTILITIES
//
//================================================================================================//

// VARS

// ELEMENTS

.u-sr-only {
  height: 0;
  overflow: hidden;
  position: absolute;
  width: 0;
}
