@import '../../../styles/app-init';

$project-subtitle-text: color(app-white) !default;
$project-header-background: color(app-grey-dark) !default;

$search-text-placeholder: color(app-grey-light) !default;
$search-background: color(app-grey-medium) !default;

$sidebar-text: color(app-grey-darkest) !default;

$activities-cell-text: color(app-grey-lighter) !default;
$activities-header-text: $text-dark !default;
$activities-header-background: rgba(255, 255, 255, .8) !default;
$activities-row-background-alt: rgba(0, 0, 0, .3) !default;
$activities-row-background-hover: rgba(255, 255, 255, .15) !default;
$activities-row-border: rgba(255, 255, 255, .18) !default;

$activities-svg-fill: color(app-gold);

:host {
  display: flex;
  flex-grow: 1;

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

// PROJECTS

.c-projects {
  background-color: color(app-grey-darkest);
}

.c-projects__header {
  @include animate(opacity, $animation-time-long);
  align-items: center;
  background-color: $project-header-background;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  position: relative;
  z-index: 1;
  opacity: 0;

  .is-displayed & {
    opacity: 1;
    pointer-events: auto;
  }
}

.c-projects__subtitle {
  color: $project-subtitle-text;
  font-size: 19px;
  font-weight: $font-weight-regular;
  margin: 0;
  text-transform: uppercase;
}

.c-projects__no-projects {
  align-items: center;
  background-color: $global-page-background;
  background-image: url('/assets/images/bg_home.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  @include animate(opacity, $animation-time-long);

  .is-displayed-projects & {
    opacity: .25;
  }
}

.c-projects__content {
  display: flex;
  flex-grow: 1;
  opacity: 0;
  pointer-events: none;
  position: relative;
  @include animate(opacity, $animation-time-long);

  .is-displayed & {
    opacity: 1;
    pointer-events: auto;
  }
}

// SEARCH

.c-search__input {
  @include animate(background-color);
  appearance: none;
  background-color: $search-background;
  border-radius: 20px;
  border-width: 0;
  box-sizing: border-box;
  color: $text-light;
  font-size: 13px;
  font-weight: $font-weight-heavy;
  line-height: 1;
  padding: 9px 20px;

  &::-webkit-input-placeholder {
    color: $search-text-placeholder;
    line-height: normal;
  }
}

// ACTIVE TABLE

.c-activities {
  border: none;
}

.c-activities__head {
  background-color: transparent;
}

.c-activities__header {
  background-color: $activities-header-background;
  padding: 10px 20px;
  color: $activities-header-text;
  border: none;

  .c-activities__head & {
    color: $activities-header-text !important; // stylelint-disable-line declaration-no-important
    text-transform: uppercase;
    height: 50px;
    font-size: 14px;
  }

  .c-activities__body & {
    height: 44px;
    font-size: 13px;
  }
}

.c-activities__row {
  background-color: transparent;
  border-width: 2px 0;
  border-style: solid;
  border-color: $activities-row-border;

  .c-activities__body & {
    @include animate(background-color border-color, $animation-time-short);
    cursor: pointer;

    &:hover {
      border-color: $activities-row-background-hover;
      background-color: $activities-row-background-hover;
    }

    &:active {
      background-color: darken($activities-row-background-hover, 15%);
    }
  }
}

.c-activities__row:nth-child(odd) {
  background-color: $activities-row-background-alt;

  thead & {
    background-color: transparent;
  }
}

.c-activities__cell {
  border: none;
  height: 40px;
  color: $activities-cell-text;
  padding: 15px 20px;
  font-size: 13px;
}

// SIDEBAR

.c-welcome {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0 50px;
  min-height: 500px;
  height: 100%;
}

.c-welcome__statement {
  color: $sidebar-text;
  font-size: 32px;
  line-height: 42px;
  padding-bottom: 28px;
  text-align: center;
  width: 100%;
}

.c-welcome__actions {
  padding-top: 36px;
  width: 100%;
}

.c-welcome__break {
  background-color: color(app-grey-medium);
  border-radius: 1.5px;
  height: 3px;
  margin: 0 auto;
  width: 28px;
}
