<ul class="c-footer__corps c-corps">
  <li class="c-corps__item">
    <button class="c-corp" routerLink="settings" target="_blank" rel="noreferer noopener">
      <span class="c-corp__label">{{ 'CORE.FOOTER.CORP.SET' | translate }}</span>
    </button>
  </li>
  <!-- <li class="c-corps__item">
    <a class="c-corp" href="" target="_blank" rel="noreferer noopener">
      <span class="c-corp__label">{{ 'CORE.FOOTER.CORP.ABOUT' | translate }}</span>
    </a>
  </li> -->
  <li class="c-corps__item c-lang">
    <div class="c-lang__input">
      <select
        #langSelect
        (change)="translateService.use(langSelect.value)"
        [attr.aria-label]="'CORE.FOOTER.LANG.ARIA' | translate"
        class="c-lang__select"
        id="app-lang"
      >
        <option
          *ngFor="let lang of translateService.getLangs()"
          [value]="lang"
          [selected]="lang === translateService.currentLang">{{ lang }}</option>
      </select>
    </div>
  </li>
</ul>
<div class="c-footer__accreditation c-accreditation">
  <span>{{ 'CORE.FOOTER.DEVELOPED.WITH' | translate }}</span>
  <span class="c-accreditation__link">
    <app-svg-google-logo class="c-accreditation__google"></app-svg-google-logo>
  </span>
</div>
