<div class="u-scroller">
  <div class="o-page">
    <form #importForm="ngForm" (ngSubmit)="save()" class="c-form">
      <div class="o-page__lhs">
        <h2 class="u-sr-only">{{ 'MODULES.IMPORT.TITLE' | translate }}</h2>
        <div class="c-upload">
          <app-file-upload *ngIf="!config.states.importValid" [(importFile)]="config.import.file" (fileChange)="onImport()"></app-file-upload>
          <h2 *ngIf="config.states.importValid">{{ 'MODULES.IMPORT.SUB_TITLE' | translate }}</h2>
          <ul class="c-images"
            [ngClass]="{ 'c-images--centered': config.import.data?.files.sources.length <= 3 }"
            *ngIf="config.states.importValid">
            <li class="c-images__item" *ngFor="let source of config.import.data?.files.sources">
              <div class="c-imported" *ngIf="source.dataURL">
                <div class="c-imported__image">
                  <img src="{{ source.dataURL }}" />
                </div>
                <div class="c-imported__filename">{{ source.title }}</div>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="o-page__rhs">
        <div class="c-sidebar">
          <div class="c-sidebar__header">

            <h2 class="c-sidebar__title">{{ 'MODULES.IMPORT.SIDEBAR.TITLE' | translate }}</h2>
            <div class="c-sidebar__note">{{ 'MODULES.IMPORT.SIDEBAR.NOTE' | translate }}</div>
          </div>
          <div class="c-sidebar__content">
            <div class="u-scroller">

              <div class="c-import-sidebar">
                <fieldset class="o-form-fieldset">
                  <legend class="o-form-legend">{{ 'MODULES.IMPORT.SIDEBAR.FORM.LEGEND' | translate }}</legend>
                  <div class="o-form-note">{{ 'MODULES.IMPORT.SIDEBAR.FORM.NOTE' | translate }}</div>
                  <div class="o-form-row">
                    <div class="o-input is-required">
                      <label class="o-input__label c-label" for="title">{{ 'MODULES.IMPORT.SIDEBAR.FORM.TITLE' | translate }}</label>
                      <div class="o-input__wrap c-textbox is-read-only">
                        <input autocomplete="off" class="o-input__field c-textbox__field" type="text" name="title" id="title" [ngModel]="config.import.data?.project.properties.title" readonly required>
                      </div>
                    </div>
                  </div>
                  <div class="o-form-row">
                    <div class="o-input is-required">
                      <div class="o-input__label c-label">{{ 'MODULES.IMPORT.SIDEBAR.FORM.AUTHOR' | translate }}</div>
                      <div class="o-input__wrap c-textbox is-read-only">
                        <input autocomplete="off" class="o-input__field c-textbox__field" type="text" name="author" id="author" [ngModel]="config.import.data?.project.properties.author" readonly required>
                      </div>
                    </div>
                  </div>
                </fieldset>
                <div class="o-form-actions">
                  <button
                    type="submit"
                    [disabled]="!config.states.importValid"
                    [ngClass]="{ 'is-loading': config.states.saving }"
                    class="c-button c-button--dark c-button--full"
                  >
                    <span class="c-button__drop c-loader-bg">
                      <span class="c-button__label" *ngIf="!config.states.saving">{{ 'MODULES.IMPORT.SIDEBAR.FORM.SUBMIT' | translate }}</span>
                      <app-svg-save-icon *ngIf="!config.states.saving" class="c-button__icon c-icon c-icon--sm"></app-svg-save-icon>
                      <app-loader class="c-button__loader" [appLoaderSmall]="true" [appLoaderBgTransparent]="true" [loading]="config.states.saving"></app-loader>
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

</div>
