<div
  [ngClass]="{
    'is-bg-light': appLoaderBgLight,
    'is-bg-transparent': appLoaderBgTransparent,
    'is-basic': appLoaderBasic,
    'is-small': appLoaderSmall,
    'is-small-dark': appLoaderSmallDark,
    'is-aside': appLoaderAside,
    'is-hidden-spinner': appLoaderHideSpinner
  }"
  class="c-loader"
>
  <app-svg-logo class="c-loader__logo"></app-svg-logo>
  <div class="c-loader__copy">
    <span class="c-loader__line-1">Google Arts<br>& Culture</span>
    <span class="c-loader__line-2">Presents</span>
    <app-svg-logo-small class="c-loader__icon"></app-svg-logo-small>
    <span class="c-loader__line-3">FABRICIUS</span>
    <span class="c-loader__break"></span>
    <span class="c-loader__line-4">AI-assisted tool</span>
  </div>
  <div class="c-loader__spinner"></div>
</div>
