@import '../../../styles/app-init';

$header-title: color(app-grey-darkest) !default;
$header-title-hover: color(app-gold, 10, 1, app-white-yellow) !default;
$header-nav-border: color(app-white, null, 1) !default;

$header-logo-svg-fill: color(app-grey-darkest);

.c-header__logo {
  flex-shrink: 0;
  width: $layout-navigation-width;
}

.c-header__content {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-right: 20px;
  width: 100%;
}

.c-header__title {
  color: $header-title;
  font-size: 16px;
  justify-self: flex-start;
  margin: 0;
  padding: 0 0 0 20px;
  text-transform: uppercase;
}

.c-header__status {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
}

.c-header__nav {
  display: flex;
}

.c-header__nav-list {
  display: flex;
  height: 100%;
}

.c-header__nav-list-item {
  display: flex;
  height: 100%;
}

.c-header__status-item--semi {
  opacity: .5;
}

.c-header__nav-list-btn {
  @include animate(color, $animation-time-short);
  align-items: center;
  color: color(app-grey-darkest);
  display: flex;
  flex-direction: column;
  font-size: 11px;
  font-weight: $font-weight-heavy;
  height: 100%;
  justify-content: center;
  opacity: .5;
  padding: 0 15px;
  text-transform: uppercase;

  &:hover {
    opacity: 1;
  }

  &.is-active {
    background-color: color(app-yellow-bright);
    cursor: default;
    opacity: 1;
  }
}

.c-header__nav-icon {
  align-items: center;
  background-color: color(app-white);
  border-radius: 50%;
  display: flex;
  font-size: 11px;
  font-weight: $font-weight-heavy;
  margin-bottom: 3px;
  height: 20px;
  justify-content: center;
  width: 20px;

  &__svg {
    fill: color(app-grey-darkest);
    height: 12px;
    width: 12px;
  }
}

// HEADER LOGO

.c-logo {
  align-items: center;
  background-color: color(app-yellow-dark);
  color: $header-title;
  display: flex;
  justify-content: center;
  text-decoration: none;
  @include animate(color $animation-time-short, background-color $animation-time-short);

  &:link {
    background-color: color(app-yellow-dark);
    color: $header-title;
  }

  &:visited {
    color: $header-title;
  }

  &:hover {
    background-color: color(app-yellow-soft);
    color: $header-title-hover;
  }

  &:active {
    background-color: color(app-yellow-dark);
  }
}

.c-header__current-route {
  @include font-size-md();
  @include font-secondary-regular;
  color: $header-title;
}

.c-logo__icon {
  fill: $header-logo-svg-fill;
  height: 30px;
  width: 30px;
}
