<a class="c-header__logo c-logo" routerLink="/">
  <app-svg-logo-small class="c-logo__icon"></app-svg-logo-small>
</a>
<div class="c-header__content">
  <h1 class="c-header__title">{{ currentProjectRoute ? project?.properties.title : 'Workbench' }}</h1>
  <div class="c-header__status">
    <div class="c-header__status-item"
      *ngIf="apiServicesEnabledCount === 0"
      appTooltip=""
      appTooltipTitle="{{ 'CORE.HEADER.API.DISABLED' | translate }}"
      appTooltipPosition="left">
      <app-svg-offline class="c-icon c-icon--lg"></app-svg-offline>
    </div>
    <div class="c-header__status-item c-header__status-item--semi" *ngIf="apiServicesEnabledCount > 0 && apiServicesEnabledCount < 3"
      appTooltip=""
      appTooltipTitle="{{ 'CORE.HEADER.API.PART_DISABLED' | translate }}"
      appTooltipPosition="left">
      <app-svg-offline class="c-icon c-icon--lg"></app-svg-offline>
    </div>
  </div>
</div>

<nav class="c-header__nav" *ngIf="currentProjectRoute">
  <ul class="c-header__nav-list o-list">
    <li class="c-header__nav-list-item">
      <button class="c-header__nav-list-btn"
        (click)="navigate('process')"
        [ngClass]="{ 'is-active': currentProjectRoute === 'process' ||
         currentProjectRoute !== 'process' && currentProjectRoute !== 'generate' && currentProjectRoute !== 'analyse' &&
         currentProjectRoute !== 'annotate' && currentProjectRoute !== 'properties' }"
      >
        <app-svg-step-one-icon class="c-header__nav-icon"></app-svg-step-one-icon>
        {{ 'CORE.HEADER.PROCESS' | translate }}
      </button>
    </li>
    <li class="c-header__nav-list-item">
      <button class="c-header__nav-list-btn"
        (click)="navigate('generate')"
        [ngClass]="{ 'is-active': currentProjectRoute === 'generate' }"
      >
        <app-svg-step-two-icon class="c-header__nav-icon"></app-svg-step-two-icon>
        {{'CORE.HEADER.GENERATE' | translate }}
      </button>
    </li>
    <li class="c-header__nav-list-item">
      <button class="c-header__nav-list-btn"
        (click)="navigate('analyse')"
        [ngClass]="{ 'is-active': currentProjectRoute === 'analyse' }"
      >
        <app-svg-step-three-icon class="c-header__nav-icon"></app-svg-step-three-icon>
        {{ 'CORE.HEADER.ANALYSE' | translate }}
      </button>
    </li>
    <li class="c-header__nav-list-item">
      <button class="c-header__nav-list-btn"
        (click)="navigate('annotate')"
        [ngClass]="{ 'is-active': currentProjectRoute === 'annotate' }"
      >
        <app-svg-step-four-icon class="c-header__nav-icon"></app-svg-step-four-icon>
        {{ 'CORE.HEADER.ANNOTATE' | translate }}
      </button>
    </li>
    <li class="c-header__nav-list-item">
      <button class="c-header__nav-list-btn"
        (click)="navigate('properties')"
        [ngClass]="{ 'is-active': currentProjectRoute === 'properties' }"
      >
        <app-svg-config-icon class="c-header__nav-icon"></app-svg-config-icon>
        {{ 'CORE.HEADER.PROPERTIES' | translate }}
      </button>
    </li>
  </ul>
</nav>
