//================================================================================================//
//
//  SIDEBAR COMPONENTS
//
//================================================================================================//

// VARS

$sidebar-gutter: 15px !default;
$sidebar-header-background: color(app-grey-lighter) !default;
$sidebar-header-title-background: color(app-grey-medium-light) !default;
$sidebar-header-border: color(app-grey, 5, 1, app-black) !default;

$sidebar-background: #eee !default;
$sidebar-background-dark:  color(app-yellow-desaturated, 65, 1, app-black) !default;

// ELEMENTS

.c-sidebar {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: $sidebar-background;
}

.c-sidebar--dark {
  background-color: $sidebar-background-dark;
}

.c-sidebar__header {
  background-color: $sidebar-header-background;

  &.has-actions {
    display: flex;
    align-items: center;
  }
}

.c-sidebar__title {
  @include font-size-sm();
  background-color: $sidebar-header-title-background;
  color: color(app-white);
  font-weight: $font-weight-heavy;
  flex-grow: 1;
  margin: 0;
  line-height: 1;
  padding: 15px 15px 14px;
  text-transform: uppercase;
}

.c-sidebar__note {
  font-size: 14px;
  font-weight: $font-weight-light;
  padding: 15px $sidebar-gutter;
}

.c-sidebar__content {
  position: relative;
  flex-grow: 1;

  .o-panel & {
    min-height: 260px;
  }
}

.c-sidebar__actions {
  @include animate(height, $animation-time-short);
  align-items: center;
  background-color: color(app-grey-medium-light);
  display: flex;
  flex-shrink: 0;
  height: 100%;
  justify-content: flex-end;
  opacity: 1;

  &.has-actions {
    padding: 0 $sidebar-gutter - 3px 0 0;
  }
}
