//================================================================================================//
//
//  CTA COMPONENTS
//
//================================================================================================//

// VARS
$cta-background: color(app-grey-lightest) !default;
$cta-tool: color(app-grey-dark) !default;
$cta-tool-border: #ddd !default;
$cta-icon: color(app-grey) !default;

// ELEMENTS

.c-cta {
  background-color: $cta-background;
  padding: 30px 55px 55px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid $cta-tool-border;
}

.c-cta__tool {
  align-items: center;
  border: 1px solid $cta-tool-border;
  background-color: $cta-tool;
  display: flex;
  height: 64px;
  justify-content: center;
  margin: 0 auto 20px;
  width: 64px;

  .c-cta__tool-group & {
    margin: 0 10px 20px;
  }
}

.c-cta__tool-group {
  display: flex;
}

.c-cta__tool-icon {
  fill: $cta-icon;
  width: 36px;
  height: 36px;
}
