
//================================================================================================//
//
//  BUTTON COMPONENTS
//
//================================================================================================//

// VARS
$button-opacity-disabled: .25 !default;

$button-background: color(app-grey-yellow) !default;
$button-background-disabled: color(app-grey-yellow) !default;

$button-drop-background: color(app-black-yellow, null, 0) !default;
$button-drop-background-hover: color(app-black-yellow, null, .25) !default;
$button-drop-background-active: color(app-black-yellow, null, .5) !default;
$button-drop-background-disabled: color(app-black-yellow, null, 0) !default;

$button-label: color(app-white-yellow) !default;
$button-label-hover: color(app-gold) !default;
$button-label-active: color(app-gold, -15) !default;
$button-label-disabled: color(app-white-yellow) !default;

$button-title-label: color(app-grey-yellow, 75, 1, app-black-yellow) !default;
$button-title-label-hover: color(app-grey-yellow, 45, 1, app-black-yellow) !default;
$button-title-label-active: color(app-grey-yellow, 85, 1, app-black-yellow) !default;
$button-title-label-disabled: color(app-grey-yellow, 75, 1, app-black-yellow) !default;

$button-medium-background: color(app-yellow-desaturated) !default;
$button-medium-background-disabled: color(app-grey-yellow, -25) !default;

$button-medium-label: color(app-white-yellow) !default;
$button-medium-label-hover: color(app-white) !default;
$button-medium-label-active: color(app-white, -15) !default;
$button-medium-label-disabled: color(app-white-yellow) !default;

$button-dark-background: $color-tools-bg !default;
$button-dark-background-disabled: $color-tools-bg !default;

$button-dark-label: color(app-white-yellow) !default;
$button-dark-label-hover: color(app-white) !default;
$button-dark-label-active: color(app-white, -15) !default;
$button-dark-label-disabled: color(app-white-yellow) !default;

$button-outline-background: $color-tools-bg !default;
$button-outline-background-disabled: $color-tools-bg !default;

$button-outline-label: color(app-white-yellow) !default;
$button-outline-label-hover: color(app-gold) !default;
$button-outline-label-active: color(app-gold, -15) !default;
$button-outline-label-disabled: color(app-white-yellow) !default;

$button-tool-background: color(app-orange-desaturated) !default;
$button-tool-background-disabled: color(app-grey-yellow, 25) !default;

$button-tool-label: color(app-white-yellow) !default;
$button-tool-label-hover: color(app-white) !default;
$button-tool-label-active: color(app-white, -15) !default;
$button-tool-label-disabled: color(app-white-yellow) !default;

// ELEMENTS

.c-button {
  @include animate(color background-color opacity);
  background-color: $button-background;
  border: none;
  color: $button-label;
  display: inline-block;
  font-weight: normal;
  line-height: 1;
  min-width: 130px;
  position: relative;

  &:link,
  &:visited {
    color: $button-label;
  }

  &:hover {
    color: $button-label-hover;
  }

  &:active {
    color: $button-label-active;
  }

  &.is-disabled,
  &:disabled {
    background-color: $button-background-disabled;
    pointer-events: none;
    color: $button-label-disabled;
    opacity: $button-opacity-disabled;

    &:hover {
      color: $button-label-disabled;
      cursor: default;
    }
  }

  &.is-loading {
    pointer-events: none;

    &:hover,
    &:active {
      cursor: default;
    }
  }
}

.c-button--title-icon,
.c-button--icon {
  min-width: 0;
  background-color: transparent;
}

.c-button--title {
  background: transparent;
  justify-content: flex-start;
  color: $button-title-label;

  &:link,
  &:visited {
    color: $button-title-label;
  }

  &:hover {
    color: $button-title-label-hover;
  }

  &:active {
    color: $button-title-label-active;
  }

  &.is-disabled,
  &:disabled {
    background: transparent;
    color: $button-title-label-disabled;

    &:hover {
      color: $button-title-label-disabled;
    }
  }
}

.c-button--mid {
  @include font-size-sm();
  background-color: $button-medium-background;
  color: $button-medium-label;
  text-transform: uppercase;

  &:link,
  &:visited {
    color: $button-medium-label;
  }

  &.is-active,
  &:hover {
    color: $button-medium-label-hover;
  }

  &:active {
    color: $button-medium-label-active;
  }

  &.is-disabled,
  &:disabled {
    background-color: $button-medium-background-disabled;
    color: $button-medium-label-disabled;

    &:hover {
      color: $button-medium-label-disabled;
    }
  }
}

.c-button--dark {
  background-color: $button-dark-background;
  color: $button-dark-label;
  font-size: 14px;
  text-transform: uppercase;

  &:link,
  &:visited {
    color: $button-dark-label;
  }

  &.is-active,
  &:hover {
    color: $button-dark-label-hover;
  }

  &:active {
    color: $button-dark-label-active;
  }

  &.is-disabled,
  &:disabled {
    background-color: $button-dark-background-disabled;
    pointer-events: none;

    &:hover {
      cursor: default;
      color: $button-dark-label-disabled;
    }
  }
}

.c-button--tool {
  min-width: 0;
  background-color: $button-tool-background;
  color: $button-tool-label;

  &:link,
  &:visited {
    color: $button-tool-label;
  }

  &:hover {
    color: $button-tool-label-hover;
  }

  &.is-active {
    color: $button-tool-label-active;
  }

  &:active {
    color: $button-tool-label-active;
  }

  &.is-disabled,
  &:disabled {
    background-color: $button-tool-background-disabled;
    color: $button-tool-label-disabled;

    &:hover {
      color: $button-tool-label-disabled;
    }
  }
}

.c-button--outline {
  @include font-secondary-regular();
  @include font-size-lg();
  @include animate(color background-color border-color opacity);
  background-color: $button-outline-background;
  color: $button-outline-label;
  border-width: 1px;
  border-style: solid;
  border-color: $button-outline-label;
  text-align: center;
  margin-bottom: 18px;

  &:link,
  &:visited {
    color: $button-outline-label;
  }

  &.is-active,
  &:hover {
    border-color: $button-outline-label-hover;
    color: $button-outline-label-hover;
  }

  &:active {
    border-color: $button-outline-label-active;
    color: $button-outline-label-active;
  }

  &.is-disabled,
  &:disabled {
    border-color: $button-outline-background-disabled;
    background-color: $button-outline-background-disabled;
    pointer-events: none;

    &:hover {
      cursor: default;
      border-color: $button-outline-background-disabled;
      color: $button-outline-label-disabled;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  :host-context(.wf-active) & {
    @include font-size-md();
  }
}

.c-button--full {
  width: 100%;

  + .c-button--full {
    margin-top: 5px;
  }
}

.c-button__drop {
  @include animate(background-color);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  background-color: $button-drop-background;

  .c-button:hover & {
    background-color: $button-drop-background-hover;
  }

  .c-button:active & {
    background-color: $button-drop-background-active;
  }

  .c-button:disabled &,
  .c-button.is-disabled & {
    background-color: $button-drop-background-disabled;
  }

  .c-button--title & {
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    padding: 11px 10px 11px 15px;
  }

  .c-button--title-icon & {
    padding: 11px;
  }

  .c-button--outline & {
    padding: 14px;
  }

  .c-button--icon & {
    padding: 10px;
  }

  .c-button--slim & {
    padding: 2px;
  }

  .c-button--title-icon:hover &,
  .c-button--title-icon:active &,
  .c-button--title-icon:disabled &,
  .c-button--title-icon.is-disabled & {
    background-color: transparent;
  }

  .c-button--icon:hover &,
  .c-button--icon:active &,
  .c-button--icon:disabled &,
  .c-button--icon.is-disabled & {
    background-color: transparent;
  }

  .c-button--title:hover &,
  .c-button--title:active &,
  .c-button--title:disabled &,
  .c-button--title.is-disabled & {
    background-color: transparent;
  }
}

.c-button__label {
  padding-top: 2px;
  font-weight: normal;

  .c-button--title-icon &,
  .c-button--tool &,
  .c-button--icon & {
    display: none;
  }

  .c-button__icon + & {
    margin-left: 10px;
  }
}

.c-button__loader {

}

.c-button__icon {
  fill: $button-label;
  min-width: 0;

  .is-loading & {
    fill: transparent !important; // stylelint-disable-line declaration-no-important
  }

  .c-button &,
  .c-button:link &,
  .c-button:visited & {
    fill: $button-label;
  }

  .c-button:hover & {
    fill: $button-label-hover;
  }

  .c-button:active & {
    fill: $button-label-active;
  }

  .c-button.is-disabled &,
  .c-button:disabled &,
  .c-button:disabled:hover & {
    fill: $button-label-disabled;
  }

  .c-button--title-icon &,
  .c-button--title-icon:link &,
  .c-button--title-icon:visited &,
  .c-button--title &,
  .c-button--title:link &,
  .c-button--title:visited & {
    fill: $button-title-label;
  }

  .c-button--title-icon:hover &,
  .c-button--title:hover & {
    fill: $button-title-label-hover;
  }

  .c-button--title-icon:active &,
  .c-button--title:active & {
    fill: $button-title-label-active;
  }

  .c-button--title-icon.is-disabled &,
  .c-button--title-icon:disabled &,
  .c-button--title-icon:disabled:hover &,
  .c-button--title.is-disabled &,
  .c-button--title:disabled &,
  .c-button--title:disabled:hover & {
    fill: $button-title-label-disabled;
  }

  .c-button--mid &,
  .c-button--mid:link &,
  .c-button--mid:visited & {
    fill: $button-medium-label;
  }

  .c-button--mid:active & {
    fill: $button-medium-label-active;
  }

  .c-button--mid:hover & {
    fill: $button-medium-label-hover;
  }

  .c-button--mid.is-disabled &,
  .c-button--mid:disabled &,
  .c-button--mid:disabled:hover & {
    fill: $button-medium-label-disabled;
  }

  .c-button--dark &,
  .c-button--dark:link &,
  .c-button--dark:visited & {
    fill: $button-dark-label;
  }

  .c-button--dark:hover & {
    fill: $button-dark-label-hover;
  }

  .c-button--dark:active & {
    fill: $button-dark-label-active;
  }

  .c-button--dark.is-disabled &,
  .c-button--dark:disabled &,
  .c-button--dark:disabled:hover & {
    fill: $button-dark-label-disabled;
  }

  &:first-child {
    margin-left: 0;
  }

  .c-button__label + & {
    margin-left: 10px;
  }

  .button--icon & {
    margin: 0 !important; // stylelint-disable-line declaration-no-important
  }
}
