//================================================================================================//
//
//  MODAL COMPONENTS
//
//================================================================================================//

// VARS

@import '~ngx-smart-modal/ngx-smart-modal';

.c-modal {
  margin: -1rem;
}

.c-modal__title {
  background-color: $color-inspector-title;
  font-size: 18px;
  font-weight: $font-weight-heavy;
  margin: 0;
  padding: 20px;
  text-transform: uppercase;
}

.c-modal__content {
  background: $color-inspector-bg;
  max-height: 450px;
  overflow-x: hidden;
  overflow-y: auto;

  .c-modal--text & {
    padding: 20px;
    text-align: center;
  }

  p {
    font-size: 16px;
  }
}

.c-modal__button-wrap {
  margin: 20px 0;
}

.nsm-dialog-btn-close {
  right: 9px;
  top: 6px;
}
