@import '../../../styles/app-init';

$border-color: #ddd;

:host {
  display: flex;
  flex: 1 0 100%;
  height: 100%;
}

// FORM

.c-form {
  display: flex;
  flex-grow: 1;
}

// UPLOAD

.c-upload {
  bottom: 50px;
  left: 50px;
  position: absolute;
  right: 50px;
  top: 50px;
}

.c-create-sidebar {
  background-color: color(app-grey-lightest);
  border-bottom: 1px solid $border-color;
  padding: 15px;
}
